/.idea/

/infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/
/infra/terraform/.terraform.lock.hcl
/infra/terraform/terraform.tfstate
/infra/terraform/terraform.tfstate.backup
/infra/terraform/.terraform/
